<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmoncorp.PropertyManager.repository.CategoryMapper">
	<resultMap type="CategoryModel" id="CategoryResult">
		<result property = "categoryName" column = "category_name" />
		<result property = "categoryDivision" column = "category_division" />
		<result property = "categoryCode" column = "category_code" />
		<result property = "upperCategory" column = "upper_category" />
	</resultMap>
	
	<select id="selectAllCategories" resultMap="CategoryResult">
		SELECT
			category_name, category_division, category_code, upper_category
		FROM
			category
		WHERE
			category_division = #{division}
		ORDER BY
			category_name ASC
	</select>
	
	<select id="selectUpperCategories" resultMap="CategoryResult">
		SELECT
			category_name, category_division, category_code, upper_category
		FROM
			category
		WHERE
			category_division = 0
	</select>
	
	<select id="selectLowerCategories" parameterType="Integer" resultMap="CategoryResult">
		SELECT
			category_name, category_division, category_code, upper_category
		FROM
			category
		WHERE
			category_division = 1 AND upper_category = #{upperCategory}
	</select>
	
	<insert id="insertUpperCategory" parameterType="CategoryModel">
		INSERT INTO
			category(category_name, category_division)
		SELECT
			#{categoryName}, 0
		FROM DUAL WHERE NOT EXISTS
			(SELECT category_name FROM category WHERE category_name = #{categoryName})
	</insert>
	
	<insert id="insertLowerCategory" parameterType="CategoryModel">
		INSERT INTO
			category(category_name, category_division, upper_category)
		SELECT
			#{categoryName}, 1, #{upperCategory}
		FROM DUAL WHERE NOT EXISTS
			(SELECT category_name FROM category WHERE category_name = #{categoryName})
	</insert>
	
	<select id="selectSpecificCategory" resultType="Integer">
		SELECT
			category_code
		FROM
			category
		WHERE
			category.category_name = #{divisionName}
	</select>
	
	<select id="selectLowerCategoryCount" resultType="Integer">
		SELECT
			COUNT(category_name)
		FROM
			category
		WHERE
			upper_category = #{upperCategory}
	</select>
</mapper>