<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmoncorp.PropertyManager.repository.PropertyLogMapper">
	<resultMap type="PropertyLogModel" id="PropertyLogResult">
	<result property="propertyNumber" column="property_number" />
	<result property="memberId" column="member_id" />
	<result property="memberName" column="member_name" />
	<result property="urgentDate" column ="urgent_date" />
	<result property="withdrawDate" column="withdraw_date" />
	</resultMap>
	
	<select id="selectPropertyLog" resultMap="PropertyLogResult">
		SELECT
			L.property_number, M.member_name AS member_id, L.urgent_date, L.withdraw_date
		FROM
			equipment_log L
		LEFT JOIN
			member M
				ON
					(L.member_id = M.member_id)
		WHERE
			L.property_number = #{propertyNumber}
	</select>
	
	<select id="selectPropertyNow" resultType="Date">
		SELECT
			urgent_date
		FROM
			equipment_log
		WHERE
			property_number = #{propertyNumber}
				AND
					member_id = #{memberId}
		LIMIT
			1
	</select>
	
	<insert id="insertUrgentProperty" parameterType="String">
		INSERT
			equipment_map_person(member_id, property_number)
		VALUE
			(#{memberId}, #{propertyNumber})
	</insert>
	
	<insert id="insertUrgentPropertyLog" parameterType="String">
		INSERT
			equipment_log(member_id, property_number, urgent_date)
		VALUE
			(#{memberId}, #{propertyNumber}, NOW())
	</insert>
	
	<delete id="deleteReleaseProperty" parameterType="String">
		DELETE FROM
			equipment_map_person
		WHERE
			member_id = #{memberId} AND property_number = #{propertyNumber}
	</delete>
	
	<update id="updateReleaseLogProperty" parameterType="String">
		UPDATE
			equipment_log
		SET
			withdraw_date = NOW()
		WHERE
			property_number = #{propertyNumber} AND member_id = #{memberId} 
	</update>
		
	
</mapper>