<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmoncorp.PropertyManager.repository.PropertyLogMapper">
	<resultMap type="PropertyLogModel" id="PropertyLogResult">
	<result property="propertyNumber" column="property_number" />
	<result property="adAccount" column="ad_account" />
	<result property="memberName" column="member_name" />
	<result property="urgentDate" column ="urgent_date" />
	<result property="withdrawDate" column="withdraw_date" />
	</resultMap>
	
	<select id="selectPropertyLog" resultMap="PropertyLogResult">
		SELECT
			L.property_number, M.member_name AS ad_account, L.urgent_date, L.withdraw_date
		FROM
			equipment_log L
		LEFT JOIN
			member M
				ON
					(L.ad_account = M.ad_account)
		WHERE
			L.property_number = #{propertyNumber}
	</select>
	
	<select id="selectPropertyNow" resultType="Date">
		SELECT
			urgent_date
		FROM
			equipment_log
		WHERE
			property_number = #{propertyNumber}
				AND
					ad_account = #{adAccount}
		LIMIT
			1
	</select>
	
	<insert id="insertUrgentProperty" parameterType="String">
		INSERT
			equipment_map_person(ad_account, property_number)
		VALUE
			(#{adAccount}, #{propertyNumber})
	</insert>
	
	<insert id="insertUrgentPropertyLog" parameterType="String">
		INSERT
			equipment_log(ad_account, property_number, urgent_date)
		VALUE
			(#{adAccount}, #{propertyNumber}, NOW())
	</insert>
	
	<delete id="deleteReleaseProperty" parameterType="String">
		DELETE FROM
			equipment_map_person
		WHERE
			ad_account = #{adAccount} AND property_number = #{propertyNumber}
	</delete>
	
	<update id="updateReleaseLogProperty" parameterType="String">
		UPDATE
			equipment_log
		SET
			withdraw_date = NOW()
		WHERE
			property_number = #{propertyNumber} AND ad_account = #{adAccount} 
	</update>
		
	<delete id="releaseAllEquipmentOnRetireMember" parameterType="String">
		DELETE FROM
			equipment_map_person
		WHERE
			ad_account = #{adAccount}
	</delete>
	
	<update id="logWithdrawDateOfRetireMembersEquipment" parameterType="String">
		UPDATE
			equipment_log
		SET
			withdraw_date = NOW()
		WHERE
			ad_account = #{adAccount} AND withdraw_date IS NULL
	</update>
	
	<select id="selectPersonalLog" resultMap="PropertyLogResult">
		SELECT
			property_number, urgent_date, withdraw_date
		FROM
			equipment_log
		WHERE
			ad_account = #{adAccount}
	</select>
	
	<select id="getPropertyInfomation" resultMap="PropertyLogResult">
		SELECT
			E.property_number, M.ad_account
		FROM
			equipment E
		LEFT JOIN
			equipment_map_person M
		ON
			(E.property_number = M.property_number)
		WHERE
			E.property_number = #{propertyNumber}
	</select>
</mapper>