<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmoncorp.PropertyManager.repository.SecurityMapper">
	<resultMap type="SecurityModel" id="SecurityResult">
	<result property="userName" column="username" />
	<result property="password" column="password" />
	<result property="authority" column="authority" />
	<result property="enabled" column="enabled" />
	</resultMap>

	<insert id="insertUser">
		INSERT INTO
			users
		VALUES
			(#{username}, #{username}, 1)
	</insert>
	
	<insert id="insertAuthority">
		INSERT INTO
			authorities
		VALUES
			(#{username}, 'ROLE_USER')
	</insert>

	<select id="getPassword" resultType="java.lang.String">
		SELECT
			password
		FROM
			users
		WHERE
			username = #{username}
	</select> 
	
	<select id="getRole" resultType="java.lang.String">
		SELECT
			authority
		FROM
			authorities
		WHERE
			username = #{username}
	</select>
</mapper>